body{
    background-color: #0d0d0d;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.container{
    width: 400px;
}

h1{
    text-align: center;
}

.input-area {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

input{
    flex: 1;
    padding: 10px;
    background: #111;
    border: 1px solid #333;
    color: #fff;
}

button{
    padding: 10px;
    background: #fff;
    border: none;
    cursor: pointer;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    background: #111;
    padding: 10px;
    margin-bottom: 10px;
}

.completed {
    text-decoration: line-through;
    color: #777;
}